<section class="bg-main-light shadow p-2 my-2 rounded-4">


    <h2 class="text-main">Register Now:</h2>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-2">
        <label for="name">Name</label>
        <input [ngClass]="{
          'is-valid': !registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||registerForm.get('name')?.dirty ),
          'is-invalid': registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||registerForm.get('name')?.dirty)
        }"
         id="name" type="text" class="form-control" formControlName="name">
        @if(registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||registerForm.get('name')?.dirty  ))
        {
          <div class="alert alert-danger w-50">
           @if (registerForm.get('name')?.getError('required')) 
           {
             <p class="m-0">Name Is Required</p>
           }

           @else if (registerForm.get('name')?.getError('minlength')) 
           {
             <p class="m-0">Name Should Be More Than Or Equal 3 Chars</p>
           }

           @else if (registerForm.get('name')?.getError('maxlength')) 
           {
             <p class="m-0">Name Should Be Less Than Or Equal 20 Chars</p>
           }
          </div>
        }
        </div>

        <div class="my-2">
            <label for="email">E-mail</label>
            <input id="email" type="email" class="form-control" formControlName="email">
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched)
                {
                  <div class="alert alert-danger w-50">
                   @if (registerForm.get('email')?.getError('required')) 
                   {
                     <p class="m-0">E-mali Is Required</p>
                   }
        
                   @else if (registerForm.get('email')?.getError('email')) 
                   {
                     <p class="m-0">Enter Valid E-mail</p>
                   }
        
                  </div>
                }
           
            </div>

            <div class="my-2">
                <label for="phone">Phone</label>
                <input id="phone" type="tel" class="form-control" formControlName="phone">
                @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched)
                {
                  <div class="alert alert-danger w-50">
                   @if (registerForm.get('phone')?.getError('required')) 
                   {
                     <p class="m-0">Phone Is Required</p>
                   }
        
                   @else if (registerForm.get('phone')?.getError('pattern')) 
                   {
                     <p class="m-0">Enter Valid Phone</p>
                   }
        
                  </div>
                }
                </div>

            <div class="my-2">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" formControlName="password">
                @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched)
                {
                  <div class="alert alert-danger w-50">
                   @if (registerForm.get('password')?.getError('required')) 
                   {
                     <p class="m-0">Password Is Required</p>
                   }
        
                   @else if (registerForm.get('password')?.getError('pattern')) 
                   {
                     <p class="m-0">Enter Valid Password</p>
                   }
        
                  </div>
                }
                </div>

                <div class="my-2">
                    <label for="repassword">Repassword</label>
                    <input id="repassword" type="password" class="form-control" formControlName="rePassword">
                    
                 
                   @if (registerForm.getError('mismatch')&& registerForm.get('rePassword')?.touched) 
                   {
                     <p class="alert alert-danger w-50 m-0">Password Confirmation Is Incorrect  </p>
                   }
        
                
                    </div>

                    <button  type="submit" class="btn-main ms-auto d-block">Register
                      @if(isLoading){
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                      }
                    </button>
                    @if(msgError){
                      <p class="alert alert-danger w-50 m-0">{{msgError}}</p>
                    }

                    @if (msgSuccess) {
                      <p>Success</p>
                    }
    </form>


</section>