<section class="bg-main-light rounded-4 shadow p-4 my-2 w-75 mx-auto">
<h1 class="text-center">Shipping Address</h1>
<form [formGroup]="orders" (ngSubmit)="ordersSubmit()">
<div class="my-1">
<label for="details">Details</label>
<textarea formControlName="details"  id="details" class="form-control"></textarea>
</div>

<div class="my-1">
    <label for="phone">Phone</label>
    <textarea formControlName="phone"  id="phone" type="tel" class="form-control"></textarea>
    </div>


    <div class="my-1">
        <label for="city">City</label>
        <textarea formControlName="city"  id="city" type="text" class="form-control"></textarea>
        </div>

        <button class="btn-main" type="submit">Check Out</button>

</form>
</section>